/*Permite el cambio de color y tamaño se*/    
.panel-login {
        margin: 10px auto;
        max-width: 400px;
    }

    .alert-text {
        color: #a94442;
    }

 /*   Alinear a la izquierda
    .form-horizontal .control-label{
   text-align:left; 
}*/
    /*Aumentar espacio entre radio button*/
    .rbEspacio input[type="radio"]
{
   margin-left: 40px;
   margin-right: 1px;
}
    /*Centrar el radio button*/
    span.radio > input[type="radio"] {
    margin: 8px -5px 7px 0px;
}


    .col-centered{ float: none; margin: 0 auto; 

    }
    
/*.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #CECEF6;
}*/
  
.center-block {
    display: table;
    margin-left: auto;
    margin-right: auto;
    float:none;
}


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.margenDivBuscar{
    margin-top: 2%;
}

.tamanoBoton{
    width: 8em;
   margin-top: 10px;
   margin-bottom:10px;
}

.tabla-boton{
    margin: 0px 0px 15px 10px;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.centrar{
    margin-top:8px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.navbar-default .navbar-brand {
  color: #020c0f;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #c2e2fb;
}
.navbar-default .navbar-text {
  color: #020c0f;
}
.navbar-default .navbar-nav > li > a {
  color: #020c0f;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #c2e2fb;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #c2e2fb;
  background-color: #7689ec;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #c2e2fb;
  background-color: #7689ec;
}
.navbar-default .navbar-toggle {
  border-color: #7689ec;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #7689ec;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #020c0f;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #020c0f;
}
.navbar-default .navbar-link {
  color: #020c0f;
}
.navbar-default .navbar-link:hover {
  color: #c2e2fb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #020c0f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c2e2fb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c2e2fb;
    background-color: #7689ec;
  }
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.hidden { display: none; }