﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"] {
    max-width: 280px;
}

.info, .exito, .alerta, .error { 
       font-family:Arial, Helvetica, sans-serif;  
       font-size:13px; 
       border: 1px solid; 
       margin: 0px 0px 10px 0px; 
       padding:5px 5px 5px 15px; 
       background-repeat: no-repeat; 
       background-position: 10px center; 
} 
.info { 
       color: #00529B; 
       background-color: #BDE5F8; 
} 
.exito { 
       color: #4F8A10; 
       background-color: #DFF2BF; 
} 
.alerta { 
       color: #9F6000; 
       background-color: #FEEFB3; 
} 
.error { 
       color: #D8000C; 
       background-color: #FFBABA; 
} 

.space-up{
    margin-top: 20px;
}
.space-down{
    margin-bottom: 5px;
}
.space-left{
    margin-left:10px;
}
.space-down-footer{
    margin-bottom: 50px;
}
.center-style{
    align-items:center;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 45px;
    background-color: #999;
    width: 100%;
} 

#table-detRev tr td{
    padding: 10px 10px 10px 10px;
}
